<header>
  <div class="container flex nav">
    <h2><a href="/">Personal Blog</a></h2>
    <h2><a href="/admin/articles">Welcome, <%= `${user.firstName} ${user.lastName}` %> </a></h2>
  </div>
</header>