<div class="col-25">
  <nav class="nav">
    <ul class="nav-items">
      <li class="nav-item"><a href="/admin/articles">Articles</a></li>
      <li class="nav-item"><a href="/admin/articles/new">Create Article</a></li>
      <li class="nav-item"><a href="/">Log Out</a></li>
    </ul>
  </nav>
</div>