<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verification</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <%- include(_header) %>
  <form action="/verify" method="post">
    <label>Enter OTP - </label>
    <input type="number" name="verify">
    <input type="submit" value="Verify">
  </form>
</body>
</html>