<div class="col-25">
  <nav class="nav">
    <ul class="nav-items">
      <li class="nav-item"><a href="/user/dashboard">Articles</a></li>
      <li class="nav-item"><a href="/user/dashboard/new">Create Article</a></li>
      <li class="nav-item"><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
</div>